.head-topic {
  display: flex;
  align-items: center;
}
.head-topic p {
  margin: 0;
  padding: 0;
  color: rgb(137 141 150);
  font-family: "Roboto Slab";
}
.head-line {
  margin: 0 0.5rem;
  /* position: absolute; */
  content: " ";
  width: 10px;
  height: 2px;
  background: rgb(137 141 150);
}
